p {
  font-size: 16px;
  margin: 0;
  color: white;
}

h2 {
  background-color: #d7ba83;
}

h3 {
  color: #635e58;
  text-shadow: 2px 1px 1px rgba(44, 0, 0, 0.2);
  border-color: #d3ad65;
}



@media only screen and (min-width:0px) and (max-width: 464px) {

  p {
    font-size: 12px;
    margin: 0;
    color: white;
  }

  h2 {
    font-size: 30px;
    background-color: #d7ba83;
  }

  h3 {
    font-size: 30px;
    color: #635e58;
    text-shadow: 2px 1px 1px rgba(44, 0, 0, 0.2);
    border-color: #d3ad65;
  }

  /*Top navigation*/

  .familyTopNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .familyTopNav li {
    padding: 3px 8px;
    margin: 3px;
    line-height: 16px;
    font-size: 14px;
    background-color: #383531;
    opacity: 1;
  }

  .familyTopNav a {
    color: white;
  }

  /*All the familyes styling*/

  .familyTableAllWrapper {
    margin: 25px 35px 25px 35px;
  }

  .familyTableAllP1 {
    color: #5b5d6e;
    text-align: justify;
    font-size: 16px;
    margin: 5px 0;
  }

  .familyTableAllP2 p {
    color: #5b5d6e;
    text-align: justify;
    font-size: 21px;
    margin: 10px 0;
  }


  .familyTableAll li p {
    margin-right: 20px;
  }

  .familyTableAll li p:first-child {
    font-size: 18px;
    line-height: 22px;
  }

  .familyTableAll li p:nth-child(2) {
    text-align: left;
    font-size: 11.5px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
  }

  .familyTableAll li p:nth-child(3) {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
  }

  /*Main familyes toggle*/

  .fToggleDis {
    height: 933px;
  }

  .fToggleDis2 {
    height: 430px;
  }

  .fToggleDis,
  .fToggleDis2 {
    color: #8791AF;
    text-align: justify;
    position: absolute;
    right: 35px;
    left: 110px;
    margin-top: 95px;
    padding: 0 5px 5px 0;
    opacity: 0;
    letter-spacing: 0.2px;
    font-size: 12px;
  }



  /*Main familyes styling*/

  .familyBoxMain {
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .familyBoxMain ul div {
    padding-left: 10px;
    background-color: white;
    font-weight: 400;
  }

  .familyBoxMain ul div:nth-child(3) {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .familyBoxMain ul div:nth-child(3) p:nth-child(3) {
    font-size: 7px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }

  .familyMainUpperBox img {
    padding: 25px 10px 0 0px;
    height: 60px;
    float: right;
    cursor: pointer;
  }

  .familyMainUpperBox p {
    background-color: white;
    color: #d3ad65;
    text-align: left;
    font-size: 9px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  .familyMainLowerBox {
    color: #d18330;
    background-color: white;
    font-size: 30px;
    border-bottom: 3px solid;
    border-color: white;
  }

  .familyTableMain li {
    border-bottom: 2px solid;
    color: white;
    display: flex;
    flex-wrap: wrap row;
  }

  .familyTableMain li p:first-child {
    width: 82px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding: 0 5px;
    font-weight: 500;
  }

  .familyTableMain li p:nth-child(2) {
    width: 20px;
    line-height: 18px;
    font-size: 10.5px;
    letter-spacing: 0.2px;
    padding: 0 5px;
    font-weight: 400;
  }

  .familyTableMain li p:nth-child(3) {
    width: 120px;
    text-align: left;
    font-size: 10.5px;
    letter-spacing: 0.2px;
    padding: 0 5px;
    line-height: 18px;
    font-weight: 400;
  }

  .familyList1 {
    background-color: #e6c57e;
  }

  .familyList2 {
    background-color: #d3ad65;
  }

  .familyList3 {
    background-color: #c48542;
  }

  .familyList4 {
    background-color: #b66524;
  }

  .prim {
    background-color: #b66524;
    margin: 0 15px 0 -15px;
  }


}

@media only screen and (min-width:465px) and (max-width: 768px) {

  p {
    font-size: 12px;
    margin: 0;
    color: white;
  }

  h2 {
    font-size: 30px;
    background-color: #d7ba83;
  }

  h3 {
    font-size: 30px;
    color: #635e58;
    text-shadow: 2px 1px 1px rgba(44, 0, 0, 0.2);
    border-color: #d3ad65;
  }

  /*Top navigation*/

  .familyTopNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .familyTopNav li {
    padding: 3px 8px;
    margin: 3px;
    line-height: 16px;
    font-size: 14px;
    background-color: #383531;
    opacity: 1;
  }

  .familyTopNav a {
    color: white;
  }

  /*All the familyes styling*/

  .familyTableAllWrapper {
    margin: 25px 35px 25px 35px;
  }

  .familyTableAllP1 {
    color: #5b5d6e;
    text-align: justify;
    font-size: 16px;
    margin: 5px 0;
  }

  .familyTableAllP2 p {
    color: #5b5d6e;
    text-align: justify;
    font-size: 21px;
    margin: 10px 0;
  }


  .familyTableAll li p {
    margin-right: 20px;
  }

  .familyTableAll li p:first-child {
    font-size: 18px;
    line-height: 22px;
  }

  .familyTableAll li p:nth-child(2) {
    text-align: left;
    font-size: 11.5px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
  }

  .familyTableAll li p:nth-child(3) {
    font-size: 10px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
  }

  /*Main familyes toggle*/

  .fToggleDis {
    height: 726px;
  }

  .fToggleDis2 {
    height: 430px;
  }

  .fToggleDis,
  .fToggleDis2 {
    color: #8791AF;
    text-align: justify;
    position: absolute;
    right: 35px;
    left: 125px;
    margin-top: 101px;
    opacity: 0;
    letter-spacing: 0.3px;
    font-size: 12px;
  }

  /*Main familyes styling*/

  .familyBoxMain {
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .familyBoxMain ul div {
    padding-left: 10px;
    background-color: white;
    font-weight: 400;
  }

  .familyBoxMain ul div:nth-child(3) {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .familyMainUpperBox img {
    padding: 25px 10px 0 0px;
    height: 60px;
    float: right;
    cursor: pointer;
  }

  .familyMainUpperBox p {
    background-color: white;
    color: #d3ad65;
    text-align: left;
    font-size: 9px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  .familyMainLowerBox {
    color: #d18330;
    background-color: white;
    font-size: 30px;
    border-bottom: 3px solid;
    border-color: white;
  }

  .familyTableMain li {
    border-bottom: 2px solid;
    color: white;
    display: flex;
    flex-wrap: wrap row;
  }

  .familyTableMain li p:first-child {
    width: 110px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 0 5px;
    font-weight: 400;
  }

  .familyTableMain li p:nth-child(2) {
    width: 20px;
    line-height: 24px;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding: 0 5px;
    font-weight: 300;
  }

  .familyTableMain li p:nth-child(3) {
    width: 400px;
    text-align: left;
    line-height: 24px;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding: 0 5px;
    font-weight: 300;
  }

  .familyList1 {
    background-color: #e6c57e;
  }

  .familyList2 {
    background-color: #d3ad65;
  }

  .familyList3 {
    background-color: #c48542;
  }

  .familyList4 {
    background-color: #b66524;
  }

  .prim {
    background-color: #b66524;
    margin: 0 15px 0 -15px;
  }

}

@media only screen and (min-width:769px) {

  /*Top navigation*/

  .familyTopNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .familyTopNav li {
    padding: 3px 10px;
    background-color: #383531;
    opacity: 1;
  }

  .familyTopNav a {
    color: white;
  }

  /*All the familyes styling*/

  .familyTableAllWrapper {
    margin: 25px 75px 25px 75px;
  }

  .familyTableAllP1 {
    color: #5b5d6e;
    text-align: justify;
    font-size: 16px;
    margin: 5px 0;
  }

  .familyTableAllP2 p {
    color: #5b5d6e;
    text-align: justify;
    font-size: 21px;
    margin: 10px 0;
  }

  .familyTableAll li {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .familyTableAll li p {
    margin-right: 20px;
  }

  .familyTableAll li p:first-child {
    width: 100px;
    font-size: 15px;
    line-height: 20px;
  }

  .familyTableAll li p:nth-child(2) {
    width: 320px;
    font-size: 12.5px;
    line-height: 20px;
    font-weight: 300;
  }

  .familyTableAll li p:nth-child(3) {
    font-size: 12.5px;
    line-height: 20px;
    font-weight: 300;
  }

  /*Main familyes toggle*/

  .fToggleDis {
    height: 727px;
  }

  .fToggleDis2 {
    height: 430px;
  }

  .fToggleDis,
  .fToggleDis2 {
    color: #8791AF;
    text-align: justify;
    position: absolute;
    right: 75px;
    left: 180px;
    margin-top: 185px;
    opacity: 0;
    letter-spacing: 0.3px;
    font-size: 12px;
  }

  /*Main familyes styling*/

  .familyBoxMain {
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .familyBoxMain ul div {
    padding: 0 12px 27px 12px;
    background-color: white;
    font-weight: 400;
  }

  .familyMainUpperBox img {
    padding: 40px 30px 0 0;
    height: 100px;
    float: right;
    cursor: pointer;
  }

  .familyMainUpperBox p {
    background-color: white;
    color: #d3ad65;
    font-size: 11.5px;
    letter-spacing: 0.5px;
  }

  .familyMainLowerBox {
    color: #d18330;
    background-color: white;
    padding: 10px 0;
    font-size: 50px;
    border-bottom: 3px solid;
    border-color: white;
  }

  .familyTableMain li {
    border-bottom: 3px solid;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .familyTableMain li p:first-child {
    border-right: 3px solid;
    width: 100px;
    font-weight: 400;
  }

  .familyTableMain li p:nth-child(2) {
    margin-left: 5px;
    border-right: 3px solid;
    width: 27px;
    font-weight: 200;
  }

  .familyTableMain li p:nth-child(3) {
    margin-left: 8px;
    font-weight: 300;
  }

  .familyList1 {
    background-color: #e6c57e;
    padding: 0 5px;
  }

  .familyList2 {
    background-color: #d3ad65;
    padding: 0 5px;
  }

  .familyList3 {
    background-color: #c48542;
    padding: 0 5px;
  }

  .familyList4 {
    background-color: #b66524;
    padding: 0 5px;
  }

  .prim {
    background-color: #b66524;
    margin-left: -25px;
  }

  .prim {
    padding: 0 20px 0 5px;
  }
}

@media only screen and (min-width:1024px) {

  .familyTableAllWrapper {
    margin: 25px 175px 25px 175px;
  }

  /*All the familyes styling*/

  .familyTableAll li {
    float: flex;
    flex-wrap: wrap row;
    justify-content: flex-start;
  }

  .familyTableAll li p:first-child {
    width: 150px;
    font-size: 20px;
    line-height: 30px;
  }

  .familyTableAll li p:nth-child(2) {
    width: 450px;
    font-size: 16px;
    line-height: 30px;
  }

  .familyTableAll li p:nth-child(3) {
    width: 150px;
    font-size: 16px;
    line-height: 30px;
  }

  /*Main familyes toggle*/

  .fToggleDis {
    height: 727px;
  }

  .fToggleDis2 {
    height: 430px;
  }

  .fToggleDis,
  .fToggleDis2 {
    color: #8791AF;
    text-align: justify;
    position: absolute;
    right: 175px;
    left: 280px;
    margin-top: 185px;
    opacity: 0;
    letter-spacing: 0.3px;
    font-size: 12px;
  }

}